* {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*page break */

.page-break {
  margin: 45px auto;
  width: 40%;
  border-top: 2px solid #c4c4c4;
}


/* landing panel */

.landing-panel {
  background-image: url("media/john-westrock-PDfe7H5GJR0-unsplash.jpg");
  background-size: cover;
  /*background-size: auto;*/
  background-position: center center;
  background-repeat:no-repeat;
}

.landing-panel .container {
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 600px;
}

.landing-panel nav {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.landing-panel nav a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  margin: 0 50px 0 50px;
  padding: 10px;
  border: 2px solid transparent;
}

.landing-panel nav a:hover {
  border: 2px solid #000000;
}

.landing-panel h1 {
  margin: 0;
  padding-bottom: 15px;
  font-size: 3rem;
  color: #4d4d4d;
  font-weight: lighter;
}

.landing-panel h2 {
  margin: 0;
  font-size: 2rem;
  color: #4d4d4d;
  font-weight: lighter;
}

.landing-panel img {
  margin-top: 15px;
  width: 30px;
  height: auto;
  opacity: 0.7;
}


@media (max-width: 650px) {
  .landing-panel {
    height: 700px;
    text-align: center;
  }

  .landing-panel h1 {
    font-size: 3rem;
  /*  color: #ffffff;*/
  /*  -webkit-text-stroke-width: 1px;*/
  /*  -webkit-text-stroke-color: #000000;*/
  }

  .landing-panel h2 {
    font-size: 2.2rem;
  /*  color: #ffffff;*/
  /*  -webkit-text-stroke-width: 1px;*/
  /*  -webkit-text-stroke-color: #000000;*/
  }

  .landing-panel nav {
    padding-bottom: 10px;
  }


  nav .links {
    margin-bottom: 20px;
  }

  .landing-panel nav a {
    margin: 0 5px;

  }
}

/* project panel */

.project-panel .container {
  margin: 0 auto;
  width: 75%;
}

.project-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-item {
  width: 33.3%;
  padding: 0 30px 25px 30px;
  position: relative;
  /*overflow: hidden;*/
}

.project-panel h6 {
  text-align: center;
  font-size: 0.8rem;
  margin: 3px 0px 7px 0px;
}

.project-panel .language {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
}

.project-panel .language > * {
  padding: 0 5px;
}

.project-panel .heading {
  text-align: center;
  font-size: 1.3rem;
  font-weight: lighter;
}

.project-panel img {
  width: 100%;
}

.project-panel p {
  font-size: 0.8rem;
  margin-top: 0;
  margin-bottom: 5px;
}

.hover-container {
    position: relative;
}

.project-item .hover-container .hover-panel {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 101;

    /*display: none;*/
}

.hover-panel .hover-links {
    margin: 20px auto;
}

.hover-panel .hover-links a {
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-size: 1.4rem;
    padding: 10px 20px;
}

.hover-panel .hover-links a:hover {
    color: #ffff00;
}

.hover-panel .hover-text p {
    color: #ffffff;
    padding: 0 15px;
}


.project-item::before {
  position: absolute;
  width: 12%;
  padding-left: 20px;
  padding-top: 10px;
}

.project-item img {
  height: 170px;
  /*width: 300px;*/
}


#proj1:before {
  content: url("media/number_icons/one.svg");
    z-index: 100;
}

#proj2:before {
  content: url("media/number_icons/two.svg");
}

#proj3:before {
  content: url("media/number_icons/three.svg");
}

#proj4:before {
  content: url("media/number_icons/four.svg");
}

#proj5:before {
  content: url("media/number_icons/five.svg");
}

#proj6:before {
  content: url("media/number_icons/six.svg");
}

#proj1:before {
  content: url("media/number_icons/one.svg");
}

@media (max-width: 1000px) {
  .project-panel .container {
    width: 90%;
  }

  .project-item {
    width: 50%;
  }

  .project-item img {
    height: 200px;
    /*width: 300px;*/
  }
}


@media (max-width: 650px) {
  .project-layout {
    display: block;
  }

  .project-item {
    width: 100%;
  }
}

/* about me */

.about-me .container {
  margin: 0 auto;
  width: 70%;
  margin-top: 30px;
}

.about-me h3 {
  font-size: 1.3rem;
  text-align: center;
}

.about-me p {
  font-size: 1rem;
  width: 80%;
  margin: 0 auto;
  line-height: 2;
}

@media (max-width: 1080px) {
  .about-me .container {
    width: 100%;
  }
}
/* hire me */

.hire-me .container {
  margin: 0 auto;
  width: 70%;
  margin-top: 30px;
}

.hire-me h3 {
  font-size: 1.3rem;
  text-align: center;
}

.hire-me-layout {
  display: flex;
}

.hire-item {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.hire-item img {
  width: auto;
  height: 35px;
  margin: 0 auto;
  display: block;
}

.hire-item a {
  text-decoration: none;
}

.hire-item p {
  text-align: center;
  font-size: 1rem;
  color: #000000;
  overflow-wrap: break-word;
  width: 80%;
  margin: 25px auto;
}



/*.hire-item::after {*/
/*  content: "";*/
/*  display: block;*/
/*  margin: 0 auto;*/
/*  width: 50%;*/
/*  border-bottom: 1px solid transparent;*/
/*  padding-top: 2px;*/
/*  margin-bottom: -1px;*/
/*}*/

/*.hire-item:hover::after {*/
/*  content: "";*/
/*  display: block;*/
/*  margin: 0 auto;*/
/*  width: 50%;*/
/*  border-bottom: 1px solid #808080;*/
/*  padding-top: 2px;*/
/*  margin-bottom: -1px;*/
/*}*/


@media (max-width: 1080px) {
  /*.hire-item p {*/
  /*  font-size: 0.7rem;*/
  /*}*/
  .hire-item {
    width: 33%;
  }


}

@media (max-width: 850px) {

  .hire-me-layout {
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .hire-item {
    width: 45%;
  }


  .hire-item a {
    display: flex;
    flex-direction: column;
  }

  .hire-item p {
    font-size: 1.2rem;
  }
}

@media (max-width: 580px) {
  .hire-item {
    width: 90%;
  }

}


/* skills */

.skills-panel .container {
  margin: 30px auto 0 auto;
  width: 70%;
}

.skills-panel h3 {
  text-align: center;
  font-size: 1.3rem;
}

.skills-layout {
  display: flex;
  justify-content: center;
  width: 80%;
  flex-wrap: wrap;
  margin: 0 auto;
}

.skills-item {
  padding: 0 20px 50px 20px;
}

.skills-item img {
  height: 70px;
  width: auto;
}

@media (max-width: 850px) {
  .skills-panel .container {
    width: 100%;
  }
}

/* footer */

footer {
  background-color: #b4b4b4;
  border-top: 1px solid #666666;
}

footer .container {
  height: 60px;
  width: 70%;
  margin: 0 auto;
}

footer p {
  padding-top: 30px;
}

@media (max-width: 610px) {
  footer p {
    padding-top: 30px;
  }
}
