
/* all page */

* {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  margin: 0;
  font-family: 'Bitter', serif;
  background-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "icon";
  src: url("media/icomoon.woff") format('woff');
}

/* title side bars */

.side-borders:before, .side-borders:after {
  content:'';
  width:20%;
  margin: 0 10px;
  border-bottom: #000000 solid;
  display:inline-block;
  vertical-align:middle;
}

.side-borders:before {
  margin-left:-100%;
}

.side-borders:after {
  margin-right:-100%;
}

/* nav bar */

.navbar {
  font-size: 1rem;
}

/* landing panel */

.landing-panel {
  background: linear-gradient(140deg, #a0d7fa, #629197);
  padding: 100px 0 0 0;
  overflow: auto;
}

.content p {
  margin: 0;
  line-height: 1.8;
  font-family: 'Bitter', serif;
}

.landing-link {
  margin-top: 3vw;
}

.landing-link a {
  font-family: 'Bitter', serif;
}

.profile-picture {
  float: right;
  width: 25vw;
  height: auto;
  border-radius: 50%;
  -webkit-shape-outside: circle() border-box;
  shape-outside: circle() border-box;
  margin-top: 4vw;
  margin-right: 0px;
}

.highlight {
  color: #ffea16;
}

.landing-panel .content {
  margin: 0 auto;
  font-size: 2.4vw;
  color: #ffffff;
  text-align: left;
  width: 45%;
  overflow: auto;
  height: 600px;
}

.landing-panel a {
  padding: 10px;
  font-size: 1.5vw;
  border-radius: 4px;
  border: 3px solid #ffffff;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 1100px) {
  .landing-panel .content {
    width: 80%;
    font-size: 3.5vw;
    padding-left: 50px;
  }

  .profile-picture {
    width: 38vw;
    margin-top: 7vw;
    margin-right: 70px;
  }

  .landing-link {
    margin-top: 6vw;
  }

  .landing-panel a {
    font-size: 2.5vw;
    border: 2px solid #ffffff;
  }
}

@media (max-width: 850px) {
  .landing-panel .content {
    width: 90%;
    font-size: 4vw;
    padding-left: 9vw;
  }

  .profile-picture {
    width: 43vw;
    margin-right: 37px;
    margin-top: 8vw;
  }

  .landing-link {
    margin-top: 6vw;
  }

  .landing-panel a {
    font-size: 3.2vw;
  }

}

@media (max-width: 850px) {
  .landing-panel .content {
    height: 450px;
  }
}

@media (max-width: 440px) {
  .landing-panel .content {
    width: 100%;
    font-size: 5vw;
    height: 300px;
  }

  .profile-picture {
    margin-right: 25px;
  }

  .landing-panel a {
    border: 2px solid #ffffff;
  }
}

/* welcome text */

.welcome-text .container {
  width: 70%;
  padding: 80px 0 60px 0;
  margin: 0 auto 0 auto;
  display: flex;
  font-size: 1.2rem;
  font-weight: lighter;
  text-align: center;
  line-height: 2.3;
}

.welcome-text-emphasize {
  color: #800080;
  font-weight: bold;
}

#quote-img {
  width: 60px;
  height: auto;
}

@media (max-width: 750px) {
  .welcome-text .container {
    width: 90%;
  }

  .welcome-text p {
    font-size: 1rem;
  }

  #quote-img {
    width: 30px;
  }
}

@media (max-width: 450px) {
  .welcome-text .container {
    padding: 60px 0 20px 0;
  }

  .welcome-text p {
    font-size: 0.7rem;
  }

  #quote-img {
    width: 20px;
  }
}




/* project panel */

.project-panel .container {
  margin: 0 auto;
  width: 85%;
  animation-duration: 4s;
}

.project-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-item {
  width: 30%;
  margin: 10px;
  position: relative;
  overflow: hidden;
}

.project-panel h3 {
  margin-top: 20px;
  padding-bottom: 20px;
}

.project-panel h6 {
  text-align: center;
  font-size: 1.2rem;
  margin: 16px 0px 7px 0px;
}

.project-panel .languages {

  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.project-panel .language {
  margin: 4px 4px;
  color: #ffffff;
  font-weight: bold;
  background-color: #75a6bf;
  border-radius: 5px;
  border: 1px solid rgba(108, 108, 108, 0.99);
  box-shadow: 3px 4px #adadad;
}

.project-panel .language p {
  vertical-align: middle;
  line-height: 10px;
  padding: 5px;
}

.project-panel .heading {
  text-align: center;
  font-size: 1.3rem;
  font-weight: lighter;
}

.project-panel img {
  width: 100%;
}

.project-panel p {
  font-size: 0.9rem;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1.5;
}

.project-panel .description {
  width: 100%;
  padding: 15px 10px 0 10px;
}

.hover-container {
    position: relative;
}

.project-item .hover-container .hover-panel {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    flex-direction: column;
    z-index: 200;
    display: none;
}

.hover-panel .hover-links {
  margin: 0 auto;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%)
}

.hover-panel .hover-links a {
  text-decoration: none;
  font-size: 2rem;
  margin: 0 10px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

.hover-panel .hover-links a:hover {
  background-color: #ffc107;
  border-color: #ffc107;
  color: #000000;
  transition: background-color 0.5s ease-out;
}

.project-item::before {
  position: absolute;
  width: 12%;
  padding-left: 20px;
  padding-top: 10px;
}

.project-item img {
  width: 100%;
  height: auto;
}

.read-more {
  padding-top: 10px;
  text-align: center;
  font-size: 1rem;
  color: #008080;
}

.read-more:hover {
  cursor: pointer;
}

.arrow-box {
  position: relative;
}

.arrow {
  font-family: icon;
  color: #008080;
  position: absolute;
  top: 0;
  left: 4px;
  transition-property: transform;
  transition-duration: 1s;
  font-size: 0.7rem;
  z-index: -1;
}

.arrow:active {
  transform: rotate(-90deg);
}

.dropdown-section {
  display: none;
}

#proj3-item img {
    border: 1px solid #000000;
}

#proj5-item img {
  border: 1px solid #000000;
}

@media (max-width: 1100px) {
  .project-item {
    width: 45%;
  }
}

@media (max-width: 750px) {
  .project-layout {
    width: 100%;
  }

  .project-panel .container {
    width: 100%;
  }

  .project-item {
    width: 100%;
    margin: 15px 0;
  }

  .project-panel .language p {
    font-size: 0.7rem;
  }

  .project-panel p {
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) {
  .project-panel p {
    font-size: 0.7rem;
  }
}



/* about me */

.about-me {
  background-color: #ffffff;
  padding: 30px 0;
}

.about-me .container {
  margin: 30px auto 0 auto;
  width: 80%;
}

.about-me h3 {
  text-align: center;
  margin: 40px 0;
}

.about-me h6 {
  text-align: center;
  font-size: 1.1rem;
  color: #800080;
  font-weight: bolder;
  margin: 30px 0;
}

.about-me p {
  font-size: 1rem;
  width: 80%;
  line-height: 2.3;
  text-align: left;
}

.about-me .bullet {
  margin-bottom: 30px;
}

.about-me img {
  width: 25%;
  height: auto;
  border-radius: 100%;
  border: 2px solid #2c2c2c;
  margin: 0 auto;
  float: right;
}

@media (max-width: 1080px) {
  .about-me .container {
    width: 100%;
  }
}

@media (max-width: 850px) {
  .about-me p {
    margin: 0;
    font-size: 0.9rem;
  }

  .about-me img {
    width: 40%;
  }
}

@media (max-width: 600px) {

  .about-me h6 {
    font-size: 0.9rem;
  }

  .about-me p {
    font-size: 0.7rem;
  }

  .about-me img {
    width: 45%;
  }
}

@media (max-width: 450px) {
  .about-me img {
    width: 60%;
  }
}



/* hire me */

.hire-me .container {
  margin: 0 auto;
  width: 80%;
}

.hire-me h3 {
  margin-top: 40px;
  text-align: center;
}

.hire-me-layout {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.hire-item {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.hire-icon {
  font-family: icon;
  color: #000000;
  font-size: 3rem;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.hire-item a {
  text-decoration: none;
}

.hire-item p {
  text-align: center;
  font-size: 1rem;
  color: #000000;
  overflow-wrap: break-word;
  width: 80%;
  margin: 5px auto;
}

@media (max-width: 1080px) {
  .hire-item p {
    font-size: 0.8rem;
  }

  .hire-item {
    margin-bottom: 20px;
  }
}

@media (max-width: 870px) {

  .hire-me-layout {
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .hire-item {
    width: 45%;
  }

  .hire-item a {
    display: flex;
    flex-direction: column;
  }

  .hire-item p {
    font-size: 1.2rem;
  }
}

@media (max-width: 580px) {
    .hire-item p {
        font-size: 0.6rem;
    }
}

/* skills */

.skills-panel .container {
  margin: 30px auto 0 auto;
  width: 70%;
}

.skills-panel h3 {
  text-align: center;
  margin-bottom: 50px;
}

.skills-layout {
  display: flex;
  justify-content: center;
  width: 80%;
  flex-wrap: wrap;
  margin: 0 auto;
}

.skills-item {
  padding: 0 20px 50px 20px;
}

.skills-item img {
  height: 50px;
  width: auto;
}

.bounce {
  animation-name: bounceAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes bounceAnimation {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-20px);
    color: #800080;
  }
  50% {
    transform: translateY(0);
    color: #800080;
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 850px) {
  .skills-panel .container {
    width: 100%;
  }
}

/* footer */

footer {
  background-color: #b4b4b4;
  border-top: 1px solid #666666;
}

footer .container {
  height: 60px;
  width: 70%;
  margin: 0 auto;
}

footer p {
  padding-top: 30px;
}

@media (max-width: 610px) {
  footer p {
    padding-top: 30px;
  }
}